.box {
  height: 50px;
  width: 200px;
  margin: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  background: #58a;
}

/* 使用3d旋转+透视生成梯形 */
.block1 {
  transform: perspective(0.5em) rotateX(5deg);
}
/* 反向变形，恢复文字 */
.block1 > div {
  transform: perspective(0.5em) rotateX(-5deg);
}

.block2 {
  position: relative;
}
/* 使用伪类生成梯形 */
.block2::after {
  opacity: 0.6;
  /* 表明位置关系，暂时注释掉 */
  /* z-index: -1; */
  background: #fb3;
  content: '';
  transform: perspective(0.5em) rotateX(5deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* 当3d旋转时，可以把底部固定住 */
.origin::after {
  transform-origin: bottom;
}

/* 1.3的系数需要慢慢试出来 */
.size::after {
  transform: perspective(0.5em) rotateX(5deg) scaleY(2.2);
}

.fix {
  background: unset;
}
.fix::after {
  opacity: unset;
  z-index: -1;
}

nav {
  position: relative;
  z-index: 1;
  padding-left: 1em;
}

nav > a {
  position: relative;
  display: inline-block;
  padding: 0.3em 1em 0;
  color: inherit;
  text-decoration: none;
  margin: 0 -0.3em;
}

nav > a::before,
main {
  border: 0.1em solid rgba(0, 0, 0, 0.4);
}

nav a::before {
  content: ''; /* To generate the box */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-bottom: none;
  border-radius: 0.5em 0.5em 0 0;
  background: #ccc linear-gradient(hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0));
  box-shadow: 0 0.15em white inset;
  transform: scale(1.1, 1.3) perspective(0.5em) rotateX(5deg);
  transform-origin: bottom;
}

nav a.selected {
  z-index: 2;
}

nav a.selected::before {
  background-color: #eee;
  margin-bottom: -0.16em;
}

main {
  display: block;
  margin-bottom: 1em;
  background: #eee;
  padding: 1em;
  border-radius: 0.15em;
}

nav.left > a::before {
  transform: scale(1.2, 1.3) perspective(0.5em) rotateX(5deg);
  transform-origin: bottom left;
}

nav.right {
  padding-left: 2em;
}

nav.right > a::before {
  transform: scale(1.2, 1.3) perspective(0.5em) rotateX(5deg);
  transform-origin: bottom right;
}
.change {
  margin-left: -0.7em;
  padding: 0.3em 1.5em 0;
}
.change::before {
  transform: scale(1, 1.05) perspective(0.5em) rotateX(1.4deg);
}
