.box {
  height: 100px;
  /* width: 200px; */
  margin: 50px;
  color: #fff;
}
/* 使用多个linear-gradient可以合成复杂的图案 */
.bg1 {
  background: white;
  background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.5) 50%, transparent 0),
    linear-gradient(0deg, rgba(200, 0, 0, 0.5) 50%, transparent 0);
  background-size: 30px 30px;
}
/* 生成一个边框和内容大小分离的小例子 */
.bg2 {
  background: #58a;
  background-image: linear-gradient(white, 1px, transparent 0),
    linear-gradient(90deg, white, 1px, transparent 0);
  background-size: 30px 30px;
}
/* 由上面的引申的一个复杂例子 */
.bg3 {
  background: #58a;
  background-image: linear-gradient(white 2px, transparent 0),
    linear-gradient(90deg, white 2px, transparent 0),
    linear-gradient(hsla(0, 0%, 100%, 0.3) 1px, transparent 0),
    linear-gradient(90deg, hsla(0, 0%, 100%, 0.3) 1px, transparent 0);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
}
.bg4 {
  background: #655;
  background-image: radial-gradient(tan 20%, transparent 0), radial-gradient(tan 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
.bg5 {
  background: #eee;
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.75) 25%,
      transparent 0,
      transparent 75%,
      rgba(0, 0, 0, 0.75) 0
    ),
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.25) 25%,
      transparent 0,
      transparent 75%,
      rgba(0, 0, 0, 0.25) 0
    );
  background-position: 0 0, 15px 15px;
  background-size: 30px 30px;
}
.bg6 {
  background: #eee
    url('data:image/svg+xml,\
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill-opacity=".25" >\
            <rect x="50" width="50" height="50" />\
            <rect y="50" width="50" height="50" />\
            </svg>');
  background-size: 30px 30px;
}
